body {
    background-color: #331c1cc8;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

#posts {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0rem;
    background-color: rgba(255, 255, 255, 0.8);

    box-shadow: 0.5px 2px 5px 0.5px rgb(34, 29, 31);
    max-width: 15rem;

}
  